nav a{
    margin-right: 10px;
}


.footer-links {
    display: flex;
    gap: 10px; /* or whatever spacing you want */
    justify-content: center; /* optional: centers the links */
    margin-top: 10px;
  }
  